:root {
    --primary-color: #fe3b52;
    --secondary-color: #fff700;
    --font-family: "Impact", sans-serif;
}

.style {
    font-family: var(--font-family);
    font-size: 2rem;
    border-radius: 40px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 150px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#zeit {
    width: 150px;
    margin: 5px;
    color: var(--primary-color);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

#start-btn {
    font-family: var(--font-family);
    background-color: var(--primary-color);
    padding: 10px;
    width: 120px;
    margin: 10px 0;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#start-btn:active {
    transform: translateY(2px);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}